<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/admin/css/index.css"> 
        <link rel="stylesheet" href="/static/css/index.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <title>X.LiNK</title>
    </head>
    <body  class="container py-5">
        <nav class="main_page">
            <div>
                <div class="header">
                    <h1>
                        <div class="head">
                            <div>
                                <div class="headline" onclick="clickBtn()"> 
                                   <b class="x">X.</b><b class="linkS">LiNK</b>
                                </div>
                            </div>
                        </div>
                    </h1>
                </div>
            </div>
            <center>
                <div>
                    <p class="text-center">
                        <b><u>確認用のメールを送信しました！</u></b>
                    </p>
                </div>
                <div>
                    <p class="text-center">メールの有効性が確認できるまでユーザー登録は完了となりません。</p>
                    <p class="text-center">メールに記載されたリンクをクリックして、ユーザー登録を完了させてください。</p>
                </div>
            </center>
        </nav>
    </body>
</html>